@use "~material-theme-creator/core" as mtc;
@import "../../../../theme.scss";
@import "../../../../fonts.scss";

:host {
  .nav-bar-container {
    position: sticky;
    z-index: 10;
    height: 108px;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

    font-family: Aileron, "Helvetica Neue", sans-serif !important;

    .nav-bar-row {
      height: 100%;
      background-color: var(--mtc-background-card);

      .section {
        display: flex;
        flex-direction: row;
        height: 100%;
        align-items: center;

        &.start {
          width: 20%;
        }

        &.middle {
          width: 60%;
          justify-content: space-between;

          .menu {
            max-width: 140px;
            display: inline-flex;
            width: 100%;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: 0.18px;
            height: 100%;
            align-items: center;
            color: var(--mtc-foreground-secondary-text);
            height: 100%;

            &::before {
              font-family: "Material Icons";
              margin-right: 8px;
            }

            &.contracts {
              &::before {
                content: "\e7ff";
              }
            }

            &.documents {
              &::before {
                content: "\e0ee";
              }
            }

            &.payout {
              &::before {
                content: "\e870";
              }
            }

            &.time {
              &::before {
                content: "\e878";
              }
            }

            &.active {
              color: var(--accent-500);
              border-color: var(--accent-500);
              border-width: 0px;
              border-bottom-width: 6px;
              border-style: solid;
            }

            &::after {
              font-family: "Material Icons";
              content: "\e5cf";
              margin-left: 6px;
            }
          }
        }

        &.end {
          width: 20%;
        }
      }
    }
  }
}
