<mat-toolbar class="nav-bar-container">
  <mat-toolbar-row class="nav-bar-row">
    <div class="section start">
      <div class="company-logo">
      </div>
    </div>
    <div class="section middle">
      <!--
        NOTE: This would be done over a loop of menus the user has permissions to access.
        Also, the state validation would be
      -->
      <div class="menu contracts" [ngClass]="{'active': isActive('contracts')}">
        Contracts
      </div>
      <div class="menu documents" [ngClass]="{'active': isActive('documents')}">
        Documents
      </div>
      <div class="menu payout" [ngClass]="{'active': isActive('payout')}">
        Payout
      </div>
      <div class="menu time" [ngClass]="{'active': isActive('time')}">
        Time
      </div>
    </div>
    <div class="section end">
    </div>
  </mat-toolbar-row>
</mat-toolbar>
