/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import './fonts.scss';
@import './theme.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Aileron, "Helvetica Neue", sans-serif !important;

  .page {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0px;
    top: 67px;
    background-color: #f9f9f9;

    .content {
      margin-inline: 12.5%;
      padding-bottom: 200px;
      display: flex;
      flex-direction: column;

      .title {
        margin-top: 103px;
        display: flex;
        justify-content: center;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 40px;
      }

      .container {
        margin-top: 20px;
      }
    }
  }
}
